$tfs12: 12px;
$tfs16: 16px;
$tfs20: 20px;
$ift20: 20px;
$mgl100: 100px;
$mgl50: 50px;
$mgl35: 35px;
$mgl40: 40px;
$mgl80:80px;
$mgl110: 110px;
$mgt5: 5px; 
$mgt10:10px;
$mgt15:15px;
$mgt20:20px;
$mgr5: 5px;
$mgl5: 5px;
$mgl2:2px;
$mgl10: 10px;
$mgl135:135px;
$mgl20:20px;
$mgl35:35px;